@{
    <!-- Informando layout a ser utilizado caso o user esteja logado -->
    Layout = "_Layout_logado";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <button name="btn" class="btn btn-primary btn-lg" asp-action="btnSorteio" asp-controller="Grupo" >SAI CAPETAAAAAAAAAA!</button>
    @*style="width:200px; height:200px"*@

    <a asp-action="btnSorteio" >Hello World!</a>

    <p>
    <label id="result1">@ViewBag.grupoEvento</label>
    <label id="result2">ViewBag.cdGrupo</label>
    <label id="result3">ViewBag.dtEvento</label>
    <label id="result4">ViewBag.nmEvento</label>
    <label id="result5">ViewBag.nmEndereco</label>
    <label id="result6">ViewBag.vlEvento</label>
</p>
</div>