@model AlienTorpedoSite.Models.Grupo.GrupoEvento

@{
    <!-- Informando layout a ser utilizado caso o user esteja logado -->
    Layout = "_Layout_logado";
    string message = "hello, <b>marta</b> <br/> how are you?<br/> <p style='color: red;'>hope that you are ok</p>";

}
<h1>this page is being devepment</h1>

@Html.Raw(@message);