@model List<AlienTorpedoSite.Models.Grupo.GrupoEvento>

@{
    <!-- Informando layout a ser utilizado caso o user esteja logado -->
    Layout = "_Layout_logado";
   
}
<div class="col-md-12">
    <div class="panel panel-primary" style="border-color: black;">
        <div class="panel-heading" style="background: black;">
            <h3 class="panel-title">Eventos sorteados</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="width: 30%;">Grupo</th>
                        <th style="width: 30%;">Evento</th>
                        <th style="width: 10%;">Data</th>
                        <th style="width: 30%;">Endereço</th>                  
                    </tr>
                </thead>
                <tbody>
                    @foreach (var grupo in @Model)
                    {
                        string data = grupo.DtEvento.HasValue ? grupo.DtEvento.Value.ToString("dd/MM/yyyy HH:mm") : string.Empty;

                        <tr>
                            <td>@grupo.NmGrupo</td>
                            <td>@grupo.NmEvento</td>
                            <td>@data</td>
                            <td>@grupo.NmEndereco</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
