@model AlienTorpedoSite.Models.Grupo.GrupoEvento

@{
    <!-- Informando layout a ser utilizado caso o user esteja logado -->
    Layout = "_Layout_logado";
}
<div class="col-md-12">
    <div class="panel panel-primary" style="border-color: black;">
        <div class="panel-heading" style="background: black;">
            <h3 class="panel-title">Sortear Evento</h3>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-1 control-label">Grupo</label>
                    <div class="col-md-3">
                        <select asp-for="CdGrupo" class="form-control col-lg-2" asp-items="ViewBag.ListaGrupos"></select>
                    </div>
                    @*<label class="col-md-2 control-label">Evento</label>
                    <div class="col-md-3">
                        <select asp-for="IdGrupoEvento" class="form-control col-lg-2" asp-items="ViewBag.ListaEventos"></select>
                    </div>*@
                </div>
                <div id="frmResultSorteio"></div>
            </div>
        </div>
        <div class="panel-footer">

            <div style="text-align:right">
                <input type="submit" class="btn btn-info" id="btnSortear" value="Sortear" onclick="Sortear();" />
            </div>
        </div>
    </div>
</div>
   

    <script>

    function Sortear() {
        //var CdGrupo = $("#CdGrupo").val();
        //var IdGrupoEvento = $("#IdGrupoEvento").val();
        //url =  "Sorteio/SortearEvento?CdGrupo=" + CdGrupo + "&IdGrupoEvento=" + IdGrupoEvento;

        //$("#frmResultSorteio").load('http://localhost:63099/Sorteio/SortearEvento?CdGrupo=1&IdGrupoEvento=1');

        $.ajax({
            url: '@Url.Action("SortearEvento")?CdGrupo=' + $('#CdGrupo').val() + "&IdGrupoEvento="+ $('#IdGrupoEvento').val(),
            type: 'GET',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);

            },
            success: function (result) {

                $('#frmResultSorteio').html(result);
                $('#frmResultSorteio').show();
            }
        });




    }

    </script>
